.features__list {
  background-color: @bg-light-gray;
  .reset-list();
}

.features__item {
  .reset-list-item();
  text-align: center;
}

.features__promo-image-wrapper {
  background-color: @bg-light-gray;
  text-align: center;
}

.features__header {
  padding-top: 6px;
}

.features__header-item {
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  color: @dark-blue;
  padding-top: 20px;
  padding-bottom: 20px;
}

.features__title {
  font-size: 18px;
  color: @black;
  font-weight: bold;
  line-height: 1.333;
  padding-top: 20px;
  padding-bottom: 10px;
}

.features__text {
  line-height: 1.333;
  padding-top: 10px;
  padding-bottom: 20px;
}
