.page-title {
  background: @bg-dark-gray url("../../img/bg-back-mobile@1x.jpg") no-repeat center;
  color: @white;
  text-align: center;
  margin-top: -66px;
  height: 236px;
  background-position-y: 0;

  &--index-page {
    height: 462px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.page-title__text {
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
  min-height: 170px;
  max-width: 280px;
  box-sizing: border-box;
  margin: -66px auto 0;
  padding-top: calc(35px + 66px);
  padding-left: 20px;
  padding-right: 20px;
}
